
/* COLORS */
$color-header: #FFFFFF;
$color-major: #DDE1E9;
$color-regular: #C6CDDA;
$color-sub: #7B8CAC;
$color-minor: #56657F;

$backpage: #22262D;
$bg-bright: #37393e;
$bg-brighter: #3e4046;
$bg-dark: #1C1E22;
$bg-darker: #141618;

$primary-one: #631953;
$primary-two: #97003E;
$primary-three: #D1002E;
$primary-four: #E3091B;
$primary-five: #EA9F00;

$error-major: #e43c26;
$warning-major: #d64955;
$warning-minor: #d6a949;
$info-major: #4a73a8;
$success-major: #3e9e71;


/* General */
$font-fancy: 'Camcorder 400', 'Roboto', sans-serif;
$font-header: 'Montserrat 900', 'Roboto', sans-serif;
$font-major: 'Montserrat 600', 'Roboto', sans-serif;
$font-regular: 'Montserrat 400', 'Roboto', sans-serif;
$font-sub: 'Montserrat 400', 'Roboto', sans-serif;
$font-minor: 'Montserrat 400', 'Roboto', sans-serif;


/* Components */
$main-width: 300px;
$content-width: 1200px;

